* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

.banner {
  max-width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #de5d5d;
}
.banner .banner__slider {
  width: 100%;
  padding: 0;
  position: relative;
}
.banner .banner__slider .slider-item-img {
  max-width: 100%;
  height: auto;
}
.banner .banner__slider .slick-list {
  overflow: hidden;
}
.banner .banner__slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5.6%;
  left: 48.2%;
}
.banner .banner__slider .slick-dots li {
  list-style: none;
  margin: 0 3.8px;
}
.banner .banner__slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
}
.banner .banner__slider .slick-active button {
  background-color: #fff;
}
.banner .banner__slider .slider-item {
  width: 100%;
  padding: 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner__slider .slider-item .slider-item-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 28.5%;
  padding-right: 17px;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
  font-size: 5.625em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.034em;
  color: #fff;
  margin-bottom: 8.2%;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn {
  display: flex;
  flex-direction: row;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0 13px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  letter-spacing: 1.1px;
  width: 257px;
  height: 77px;
  border-radius: 5px;
  border: 3px solid #fff;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn:hover {
  background-color: rgba(222, 90, 90, 0.6);
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img {
  max-width: 100%;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
  margin-right: 17px;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
  margin: 3px 19px 0 12px;
}

@media (max-width: 1300px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 5em;
  }
}
@media (max-width: 1200px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 47%;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    margin-bottom: 3rem;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
    justify-content: center;
    font-size: 1.562em;
    width: 217px;
    height: 67px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
    width: 42px;
    height: 42px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
    width: 32px;
    height: 37px;
  }
}
@media (max-width: 992px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 46%;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 23.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 4.6875em;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 43%;
    bottom: 6.6%;
  }
  .banner .banner__slider .slick-dots li {
    margin: 0 3.8px;
  }
  .banner .banner__slider .slick-dots button {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 19.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 2.8125em;
    margin-bottom: 1rem;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
    justify-content: center;
    font-size: 1.187em;
    width: 167px;
    height: 37px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
    width: 25px;
    height: 25px;
    margin-right: 14px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
    width: 25px;
    height: 25px;
    margin: 0 11px 0 0;
  }
}
@media (max-width: 480px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 43%;
    bottom: 0.6%;
  }
  .banner .banner__slider .slick-dots li {
    margin: 0 1.8px;
  }
  .banner .banner__slider .slick-dots button {
    width: 8px;
    height: 8px;
    border: 1.5px solid #fff;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 20.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 1.875em;
    margin-bottom: 0;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
    padding: 0;
    font-size: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin-left: 9px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
    width: 15px;
    height: 17px;
    margin-right: 0;
    margin-left: 12px;
  }
}
@media (max-width: 320px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 15.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 1.562em;
    margin-bottom: 0;
  }
}