@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Varela Round";
  src: url("../fonts/VarelaRound-Regular.ttf") format("truetype"), url("../fonts/VarelaRound-Regular.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../fonts/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

.banner {
  max-width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #de5d5d;
  padding-top: 98px;
}
.banner .banner__slider {
  width: 100%;
  padding: 0;
  position: relative;
}
.banner .banner__slider .slider-item-img {
  max-width: 100%;
  height: auto;
}
.banner .banner__slider .slick-list {
  overflow: hidden;
}
.banner .banner__slider .slick-slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.banner .banner__slider .slick-track {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.banner .banner__slider .slick-dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 5.6%;
  left: 48.2%;
}
.banner .banner__slider .slick-dots li {
  list-style: none;
  margin: 0 3.8px;
}
.banner .banner__slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
}
.banner .banner__slider .slick-active button {
  background-color: #fff;
}
.banner .banner__slider .slider-item {
  width: 100%;
  padding: 0 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner__slider .slider-item .slider-item-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 28.5%;
  padding-right: 17px;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
  font-size: 5.625em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: -0.015em;
  color: #fff;
  margin-bottom: 8.4%;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn {
  display: flex;
  flex-direction: row;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0 13px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  width: 257px;
  height: 77px;
  border-radius: 5px;
  border: 3px solid #fff;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn:hover {
  background-color: rgba(222, 90, 90, 0.6);
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img {
  max-width: 100%;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
  margin-right: 16px;
}
.banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
  margin: 4px 18px 0 6px;
}

@media (max-width: 1300px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 5em;
  }
}
@media (max-width: 1200px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 47%;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    margin-bottom: 3rem;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
    justify-content: center;
    font-size: 1.562em;
    width: 217px;
    height: 67px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
    width: 42px;
    height: 42px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
    width: 32px;
    height: 37px;
  }
}
@media (max-width: 992px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 46%;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 23.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 4.6875em;
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 43%;
    bottom: 6.6%;
  }
  .banner .banner__slider .slick-dots li {
    margin: 0 3.8px;
  }
  .banner .banner__slider .slick-dots button {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 19.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 2.8125em;
    margin-bottom: 1rem;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
    justify-content: center;
    font-size: 1.187em;
    width: 167px;
    height: 37px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
    width: 25px;
    height: 25px;
    margin-right: 14px;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
    width: 25px;
    height: 25px;
    margin: 0 11px 0 0;
  }
}
@media (max-width: 480px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slick-dots {
    left: 43%;
    bottom: 0.6%;
  }
  .banner .banner__slider .slick-dots li {
    margin: 0 1.8px;
  }
  .banner .banner__slider .slick-dots button {
    width: 8px;
    height: 8px;
    border: 1.5px solid #fff;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 20.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 1.875em;
    margin-bottom: 0;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn {
    padding: 0;
    font-size: 0;
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-app {
    width: 20px;
    height: 20px;
    margin-right: 0;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-btn .btn .slider-item-caption-btn-img-play {
    width: 15px;
    height: 17px;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .banner {
    max-width: 100%;
  }
  .banner .banner__slider .slider-item {
    width: 100%;
  }
  .banner .banner__slider .slider-item .slider-item-caption {
    top: 15.5%;
  }
  .banner .banner__slider .slider-item .slider-item-caption .slider-item-caption-title {
    font-size: 1.562em;
    margin-bottom: 0;
  }
}
.why__ama {
  width: 100%;
  background-color: #fff;
}
.why__ama .ama__container {
  padding: 100px 15px 94px 15px;
  max-width: 1200px;
}
.why__ama .ama__container .ama__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3em;
  padding-right: 10px;
}
.why__ama .ama__container .ama__block {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.why__ama .ama__container .ama__block .ama__card-1 {
  margin: 0 0 0 42px;
  color: #666666;
  padding-bottom: 15px;
}
.why__ama .ama__container .ama__block .ama__card-1 img {
  margin-bottom: 39px;
}
.why__ama .ama__container .ama__block .ama__card-1 h3 {
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 6px;
  padding: 0 15px 0 0;
}
.why__ama .ama__container .ama__block .ama__card-1 p {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  padding-right: 12px;
  margin-bottom: 8px;
}
.why__ama .ama__container .ama__block .ama__card-2 {
  margin: 1px 0 0 3px;
  color: #666666;
  padding-bottom: 15px;
}
.why__ama .ama__container .ama__block .ama__card-2 img {
  margin-bottom: 36px;
}
.why__ama .ama__container .ama__block .ama__card-2 h3 {
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.why__ama .ama__container .ama__block .ama__card-2 p {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  margin-bottom: 7px;
}
.why__ama .ama__container .ama__block .ama__card-3 {
  margin: 1px 59px 0 0;
  color: #666666;
  padding-bottom: 15px;
}
.why__ama .ama__container .ama__block .ama__card-3 img {
  margin-bottom: 37px;
}
.why__ama .ama__container .ama__block .ama__card-3 h3 {
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}
.why__ama .ama__container .ama__block .ama__card-3 p {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  margin-bottom: 8px;
}

@media (max-width: 1300px) {
  .why__ama {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .why__ama {
    width: 100%;
  }
  .why__ama .ama__container .ama__block {
    margin: 45px 30px 0 30px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 {
    margin: 0;
  }
  .why__ama .ama__container .ama__block .ama__card-2 {
    margin: 0;
  }
  .why__ama .ama__container .ama__block .ama__card-3 {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .why__ama {
    width: 100%;
  }
  .why__ama .ama__container .ama__block {
    margin: 45px 30px 0 30px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 img {
    margin-bottom: 20px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 p {
    margin-bottom: 4px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 img {
    margin-bottom: 20px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 p {
    margin-bottom: 4px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 img {
    margin-bottom: 20px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 p {
    margin-bottom: 4px;
  }
}
@media (max-width: 768px) {
  .why__ama {
    width: 100%;
  }
  .why__ama .ama__container .ama__block {
    margin: 40px 0 0 0;
  }
  .why__ama .ama__container .ama__block .ama__card-1 img {
    margin-bottom: 20px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 p {
    margin-bottom: 4px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 img {
    margin-bottom: 20px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 p {
    margin-bottom: 4px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 img {
    margin-bottom: 20px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 p {
    margin-bottom: 4px;
  }
}
@media (max-width: 480px) {
  .why__ama {
    width: 100%;
  }
  .why__ama .ama__container .ama__title {
    font-size: 2.8125em;
    padding-right: 0;
  }
  .why__ama .ama__container .ama__block .ama__card-1 h3 {
    font-size: 16px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 img {
    width: 189px;
    height: 189px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 p {
    font-size: 0.875em;
  }
  .why__ama .ama__container .ama__block .ama__card-2 h3 {
    font-size: 16px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 img {
    width: 189px;
    height: 189px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 p {
    font-size: 0.875em;
  }
  .why__ama .ama__container .ama__block .ama__card-3 h3 {
    font-size: 16px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 img {
    width: 189px;
    height: 189px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 p {
    font-size: 0.875em;
  }
}
@media (max-width: 320px) {
  .why__ama {
    width: 100%;
  }
}
.share {
  width: 100%;
  background-color: #262626;
}
.share .share__container {
  max-width: 1200px;
  padding: 0 15px;
}
.share .share__container .share__block .share__image {
  padding-top: 72px;
  margin: 0;
}
.share .share__container .share__block .share__info {
  margin: 0;
  padding: 15.2% 11% 0 0.5%;
}
.share .share__container .share__block .share__info-title {
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin-bottom: 23px;
}
.share .share__container .share__block .share__info-text {
  font-size: 1.125em;
  font-family: "Varela Round", sans-serif;
  color: #aeaeae;
  margin-bottom: 9.3%;
  line-height: 25px;
}
.share .share__container .share__block .share__info-slider .slick-dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 27px 0 0 0;
  margin-left: -4px;
}
.share .share__container .share__block .share__info-slider .slick-dots li {
  list-style: none;
  margin: 0 3.8px;
}
.share .share__container .share__block .share__info-slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
}
.share .share__container .share__block .share__info-slider .slick-active button {
  background-color: #fff;
}
.share .share__container .share__block .share__info-slider .slick-list {
  overflow: hidden;
}
.share .share__container .share__block .share__info-slider-item {
  display: flex;
  align-items: center;
}
.share .share__container .share__block .share__info-slider-item-img {
  padding-left: 1px;
}
.share .share__container .share__block .share__info-slider-item-text {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #aeaeae;
  line-height: 24px;
  padding: 3px 20px 0 32px;
}

@media (max-width: 1300px) {
  .share {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .share {
    width: 100%;
  }
  .share .share__container .share__block .share__info {
    padding: 15.2% 4% 0 7.5%;
  }
  .share .share__container .share__block .share__info-title {
    font-size: 2.8125em;
  }
  .share .share__container .share__block .share__info-text {
    margin-bottom: 7.3%;
  }
  .share .share__container .share__block .share__info-slider-item-text {
    line-height: 16px;
    padding: 3px 0 0 5px;
    font-size: 0.875em;
  }
  .share .share__container .share__block .share__info-slider-item-img img {
    width: 130px;
    padding-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .share {
    width: 100%;
  }
  .share .share__container .share__block .share__image {
    padding-right: 0;
  }
  .share .share__container .share__block .share__info {
    padding: 15.2% 7% 0 5.5%;
  }
  .share .share__container .share__block .share__info-text {
    line-height: 20px;
  }
  .share .share__container .share__block .share__info-slider-item-text {
    padding: 0 0 0 10px;
    margin-bottom: 2px;
  }
}
@media (max-width: 767px) {
  .share {
    width: 100%;
  }
  .share .share__container {
    max-width: 320px;
  }
  .share .share__container .share__block .share__image {
    padding-right: 15px;
    order: 2;
    padding-top: 25px;
  }
  .share .share__container .share__block .share__info {
    order: 1;
  }
  .share .share__container .share__block .share__info-title {
    font-size: 2.125em;
  }
  .share .share__container .share__block .share__info-text {
    line-height: 18px;
    font-size: 16px;
  }
  .share .share__container .share__block .share__info-slider-item-img img {
    width: 98px;
    padding-bottom: 20px;
  }
  .share .share__container .share__block .share__info-slider .slick-dots {
    padding: 15px 0 0 0;
  }
  .share .share__container .share__block .share__info-slider .slick-dots button {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 480px) {
  .why__ama {
    width: 100%;
  }
  .why__ama .ama__container .ama__title {
    font-size: 2.8125em;
    padding-right: 0;
  }
  .why__ama .ama__container .ama__block .ama__card-1 h3 {
    font-size: 16px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 img {
    width: 189px;
    height: 189px;
  }
  .why__ama .ama__container .ama__block .ama__card-1 p {
    font-size: 0.875em;
  }
  .why__ama .ama__container .ama__block .ama__card-2 h3 {
    font-size: 16px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 img {
    width: 189px;
    height: 189px;
  }
  .why__ama .ama__container .ama__block .ama__card-2 p {
    font-size: 0.875em;
  }
  .why__ama .ama__container .ama__block .ama__card-3 h3 {
    font-size: 16px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 img {
    width: 189px;
    height: 189px;
  }
  .why__ama .ama__container .ama__block .ama__card-3 p {
    font-size: 0.875em;
  }
}
@media (max-width: 320px) {
  .why__ama {
    width: 100%;
  }
}
.features {
  width: 100%;
  padding-top: 50px;
  background-color: #313131;
}
.features .features__container {
  max-width: 1200px;
  padding: 0 15px;
  color: #fff;
}
.features .features__container .features__block .features__image img {
  padding-left: 16px;
}
.features .features__container .features__block .features__text {
  padding: 0;
}
.features .features__container .features__block .features__text .features__info {
  margin-left: 15%;
  padding: 19.5% 18% 0 20px;
}
.features .features__container .features__block .features__text .features__info-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 22px;
  margin-left: -4px;
}
.features .features__container .features__block .features__text .features__info-text {
  font-family: "Varela Round", sans-serif;
  font-size: 1.125em;
  line-height: 27px;
  margin-bottom: 13.9%;
}
.features .features__container .features__block .features__text .features__info-slider {
  background-color: #fff;
  width: 470px;
  border-radius: 5px;
}
.features .features__container .features__block .features__text .features__info-slider .slick-dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f06464;
  padding-bottom: 17px;
  padding-left: 30px;
}
.features .features__container .features__block .features__text .features__info-slider .slick-dots li {
  list-style: none;
  margin: 8px 4px 0 4px;
}
.features .features__container .features__block .features__text .features__info-slider .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50%;
}
.features .features__container .features__block .features__text .features__info-slider .slick-active button {
  background-color: #fff;
}
.features .features__container .features__block .features__text .features__info-slider .slick-list {
  overflow: hidden;
}
.features .features__container .features__block .features__text .features__info-slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 16px 30px 3px 30px;
}
.features .features__container .features__block .features__text .features__info-slider-item-text {
  padding: 16px 10px 10px 30px;
}
.features .features__container .features__block .features__text .features__info-slider-item-text h3 {
  color: #cc5858;
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
}
.features .features__container .features__block .features__text .features__info-slider-item-text-p {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.features .features__container .features__block .features__text .features__info-slider-item img {
  width: 89px;
  height: 89px;
  margin-top: -28px;
}

@media (max-width: 1300px) {
  .features {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .features {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .features {
    max-width: 100%;
    padding-top: 35px;
  }
  .features .features__container {
    max-width: 768px;
  }
  .features .features__container .features__block .features__text .features__info {
    padding: 9.5% 18% 0 20px;
  }
  .features .features__container .features__block .features__text .features__info-title {
    font-size: 2.5em;
    margin-bottom: 12px;
  }
  .features .features__container .features__block .features__text .features__info-text {
    font-size: 0.875em;
    line-height: 20px;
    margin-bottom: 6.9%;
  }
  .features .features__container .features__block .features__text .features__info-slider {
    width: 295px;
  }
  .features .features__container .features__block .features__text .features__info-slider-item {
    padding: 5px 10px 3px 13px;
  }
  .features .features__container .features__block .features__text .features__info-slider-item-text {
    padding: 10px 5px 5px 14px;
  }
  .features .features__container .features__block .features__text .features__info-slider-item-text h3 {
    font-size: 16px;
    line-height: 18px;
  }
  .features .features__container .features__block .features__text .features__info-slider-item-text-p {
    font-size: 0.875em;
    line-height: 18px;
  }
}
@media (max-width: 768px) {
  .features {
    max-width: 100%;
  }
  .features .features__container {
    max-width: 320px;
  }
  .features .features__container .features__block .features__image img {
    padding-left: 0;
  }
  .features .features__container .features__block .features__text {
    padding: 0;
  }
  .features .features__container .features__block .features__text .features__info {
    margin-left: 0;
    padding: 0 15px;
  }
  .features .features__container .features__block .features__text .features__info-slider {
    width: 290px;
  }
}
@media (max-width: 480px) {
  .features {
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .features {
    max-width: 100%;
  }
}
.gallery {
  padding-top: 70px;
}
.gallery .gallery__container {
  padding: 0;
}
.gallery .gallery__container .gallery__block {
  margin: 0;
}
.gallery .gallery__container .gallery__block .gallery__text {
  margin-bottom: 62px;
  width: 435px;
  margin-left: 25.2%;
}
.gallery .gallery__container .gallery__block .gallery__text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  font-weight: 500;
  color: #f06464;
  margin-bottom: 19px;
  letter-spacing: -0.6px;
}
.gallery .gallery__container .gallery__block .gallery__text p {
  font-family: "Varela Round", sans-serif;
  font-size: 1.125em;
  line-height: 27px;
}
.gallery .gallery__container .gallery__block .gallery__images {
  padding: 0;
}
.gallery .gallery__container .gallery__block .gallery__images__block {
  display: flex;
  margin: 0;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .gallery__images-item-img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .gallery__images-item-img:hover {
  transform: translateY(-38px);
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #151515;
  flex-direction: column;
  padding: 10px;
  display: none;
  transition: height 0.3s ease;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay .text {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay .text .text-main {
  font-family: "Varela Round", sans-serif;
  color: #c2c2c2;
  font-size: 1.125em;
  margin: 0;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay .like-section {
  display: flex;
  align-items: center;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay .like-section .like__button {
  background-color: #151515;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay .like-section .like__button .like-button-img {
  width: 25px;
  height: 21px;
  background-color: #151515;
  display: block;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay .like-section .like__button .like-button-img-painted {
  width: 25px;
  height: 21px;
  background-color: #151515;
  display: none;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item .overlay .like-section .like-count {
  color: #f06464;
  font-size: 1.5em;
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0 10px;
}
.gallery .gallery__container .gallery__block .gallery__images__block .gallery__images-item:hover .overlay {
  height: 87px;
  display: flex;
}

@media (max-width: 1300px) {
  .gallery {
    max-width: 100%;
  }
  .gallery .gallery__container {
    padding: 0;
  }
  .gallery .gallery__container .gallery__block {
    margin: 0;
  }
  .gallery .gallery__container .gallery__block .gallery__text {
    margin-bottom: 62px;
    margin-left: 22.5%;
  }
  .gallery .gallery__container .gallery__block .gallery__text h1 {
    font-size: 2.5em;
    letter-spacing: 0;
  }
  .gallery .gallery__container .gallery__block .gallery__text p {
    line-height: 24px;
  }
}
@media (max-width: 1200px) {
  .gallery {
    max-width: 100%;
  }
  .gallery .gallery__container .gallery__block .gallery__images .gallery__images__block {
    flex-wrap: wrap;
  }
  .gallery .gallery__container .gallery__block .gallery__images .gallery__images__block .gallery__images-item {
    flex-basis: 50%;
  }
}
@media (max-width: 992px) {
  .gallery {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .gallery {
    max-width: 100%;
  }
  .gallery .gallery__container .gallery__block .gallery__text {
    margin-left: 15.5%;
  }
  .gallery .gallery__container .gallery__block .gallery__images-item .overlay .text-main {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .gallery {
    max-width: 100%;
  }
  .gallery .gallery__container .gallery__block .gallery__text {
    width: 310px;
    margin-bottom: 50px;
    margin-left: 10.5%;
  }
  .gallery .gallery__container .gallery__block .gallery__text h1 {
    font-size: 2.125em;
  }
  .gallery .gallery__container .gallery__block .gallery__text p {
    line-height: 20px;
    font-size: 16px;
  }
  .gallery .gallery__container .gallery__block .gallery__images .gallery__images__block .gallery__images-item {
    flex-basis: 100%;
  }
}
@media (max-width: 320px) {
  .gallery {
    max-width: 100%;
  }
  .gallery .gallery__container .gallery__block .gallery__text {
    margin-bottom: 45px;
    margin-left: 5.5%;
  }
  .gallery .gallery__container .gallery__block .gallery__images .gallery__images__block .gallery__images-item .overlay .text .like-section .like-count {
    font-size: 1.25em;
  }
}
.cta {
  width: 100%;
  background-color: #de5d5d;
  padding-top: 170px;
  padding-bottom: 109px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__container {
  max-width: 1200px;
  padding: 0 15px;
}
.cta__container .cta__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cta__container .cta__block .cta__image {
  margin: 54px 0 0 -17px;
}
.cta__container .cta__block .cta__info {
  margin-left: 14px;
  margin-top: -110px;
}
.cta__container .cta__block .cta__info h1 {
  color: #fff;
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 16px;
}
.cta__container .cta__block .cta__info p {
  color: #fff;
  font-size: 1.5em;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 43px;
}
.cta__container .cta__block .cta__info .cta__info-button {
  display: flex;
  flex-direction: row;
}
.cta__container .cta__block .cta__info .cta__info-button .cta__button-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 31px 0 0;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 1.875em;
  font-weight: 400;
  width: 257px;
  height: 77px;
  border-radius: 5px;
  border: 3px solid #fff;
}
.cta__container .cta__block .cta__info .cta__info-button .cta__button-btn:hover {
  background-color: rgba(190, 33, 60, 0.8);
}
.cta__container .cta__block .cta__info .cta__info-button .cta__button-btn img {
  max-width: 100%;
}
.cta__container .cta__block .cta__info .cta__info-button .cta__button-btn img-app {
  margin-right: 16px;
}
.cta__container .cta__block .cta__info .cta__info-button .cta__button-btn img-play {
  margin: 4px 18px 0 6px;
}

@media (max-width: 1300px) {
  .cta .cta__container {
    max-width: 992px;
  }
  .cta .cta__container .cta__block .cta__image {
    margin: 54px 0 0 0;
  }
}
@media (max-width: 992px) {
  .cta .cta__container {
    max-width: 768px;
  }
  .cta .cta__container .cta__block .cta__image {
    margin: 0;
  }
  .cta .cta__container .cta__block .cta__info {
    margin-top: 0;
  }
  .cta .cta__container .cta__block .cta__info p {
    margin-bottom: 18px;
  }
  .cta .cta__container .cta__block .cta__info .cta__info-button {
    flex-direction: column;
  }
  .cta .cta__container .cta__block .cta__info .cta__info-button .cta__button-btn {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 768px) {
  .cta .cta__container {
    max-width: 480px;
  }
  .cta .cta__container .cta__block {
    flex-direction: column;
  }
  .cta .cta__container .cta__block .cta__info {
    margin-left: 0;
  }
  .cta .cta__container .cta__block .cta__info p {
    margin-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .cta .cta__container {
    max-width: 320px;
  }
}
@media (max-width: 320px) {
  .cta .cta__container {
    max-width: 290px;
  }
  .cta .cta__container .cta__block .cta__info h1 {
    font-size: 2.5em;
  }
}
.compatibility {
  width: 100%;
  background-color: #e7e7e7;
  padding-top: 87px;
  padding-bottom: 120px;
}
.compatibility .compatibility__container {
  max-width: 1200px;
  padding: 0 15px;
}
.compatibility .compatibility__container .compatibility__block {
  max-width: 990px;
  margin: 0 auto;
}
.compatibility .compatibility__container .compatibility__block .compatibility__title-text {
  color: #666666;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-bottom: 2px solid #cbcbcb;
  padding-bottom: 20px;
}
.compatibility .compatibility__container .compatibility__devices {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  justify-content: space-between;
}
.compatibility .compatibility__container .compatibility__devices .compatibility__ios {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.compatibility .compatibility__container .compatibility__devices .compatibility__ios-title {
  color: #666666;
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6px;
}
.compatibility .compatibility__container .compatibility__devices .compatibility__ios-text {
  color: #666666;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  line-height: 20px;
  margin-bottom: 30px;
}
.compatibility .compatibility__container .compatibility__devices .compatibility__android {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50px;
}
.compatibility .compatibility__container .compatibility__devices .compatibility__android-title {
  color: #666666;
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 6px;
}
.compatibility .compatibility__container .compatibility__devices .compatibility__android-text {
  color: #666666;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  line-height: 20px;
  margin-bottom: 38px;
}

@media (max-width: 1200px) {
  .compatibility .compatibility__container .compatibility__devices .compatibility__android {
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .compatibility .compatibility__container .compatibility__block .compatibility__devices .compatibility__android {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .compatibility .compatibility__container {
    max-width: 480px;
  }
  .compatibility .compatibility__container .compatibility__block .compatibility__devices {
    flex-direction: column;
  }
  .compatibility .compatibility__container .compatibility__block .compatibility__devices .compatibility__android {
    padding-left: 0;
    padding-top: 20px;
  }
}
@media (max-width: 480px) {
  .compatibility .compatibility__container {
    padding: 0;
  }
  .compatibility .compatibility__container .compatibility__block {
    max-width: 320px;
  }
  .compatibility .compatibility__container .compatibility__block .compatibility__devices .compatibility__ios-text br {
    display: none;
  }
  .compatibility .compatibility__container .compatibility__block .compatibility__devices .compatibility__android-text br {
    display: none;
  }
}
@media (max-width: 320px) {
  .compatibility .compatibility__container .compatibility__block {
    max-width: 290px;
  }
}
.footer {
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 60px;
  padding-bottom: 74px;
}
.footer .footer__container {
  max-width: 1200px;
  padding: 0 10px;
}
.footer .footer__container .footer__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer .footer__container .footer__block .footer__date-text {
  color: #666666;
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-top: 13px;
}
.footer .footer__container .footer__block .footer__email {
  margin-right: 62px;
}
.footer .footer__container .footer__block .footer__email-text {
  color: #666666;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}
.footer .footer__container .footer__block .footer__email-submit {
  margin: 0;
}
.footer .footer__container .footer__block .footer__email-submit .footer__email-input {
  width: 311px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #a3a3a3;
  color: #666666;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 0 16px 16px;
}
.footer .footer__container .footer__block .footer__email-submit .footer__email-btn {
  width: 101px;
  height: 48px;
  border-radius: 5px;
  background-color: #f06464;
  color: #f4f4f4;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-left: 11px;
}
.footer .footer__container .footer__block .footer__email-submit .footer__email-btn:hover {
  background-color: #ff8b8b;
}

@media (max-width: 1200px) {
  .footer .footer__container {
    padding: 0 15px;
  }
  .footer .footer__container .footer__block .footer__email {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .footer .footer__container {
    max-width: 480px;
  }
  .footer .footer__container .footer__block {
    flex-direction: column;
    align-items: normal;
  }
}
@media (max-width: 480px) {
  .footer .footer__container {
    max-width: 320px;
  }
  .footer .footer__container .footer__block .footer__email-submit .footer__email-input {
    margin-bottom: 11px;
  }
  .footer .footer__container .footer__block .footer__email-submit .footer__email-btn {
    margin-left: 0;
  }
}
.header {
  width: 100%;
}
.header .header__navbar {
  background-color: #de5d5d;
}
.header .header__navbar .header__navbar__container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 19px;
}
.header .header__navbar .header__navbar__container .header__navbar-brand {
  color: #fff;
  font-family: "Myriad Pro Bold", sans-serif;
  font-size: 3.75em;
  font-weight: 700;
  margin-left: 5px;
}
.header .header__navbar .header__navbar__container .header__burger__collapse {
  margin: 0 !important;
  justify-content: flex-end;
}
.header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list {
  margin: 0 16px 0 0 !important;
  padding-top: 5px;
}
.header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  padding: 0 0 0 27px;
}
.header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item .header__burger-list-link {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item .header__burger-list-link:hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #fff;
  top: -35px;
}

@media (max-width: 1200px) {
  .header .header__navbar .header__navbar__container {
    padding: 19px 15px 0 15px;
  }
  .header .header__navbar .header__navbar__container .header__navbar-brand {
    margin-left: 0;
  }
  .header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list {
    margin: 0 !important;
  }
}
@media (max-width: 992px) {
  .header .header__navbar .header__navbar__container {
    justify-content: space-between;
    padding: 0 50px;
  }
  .header .header__navbar .header__navbar__container .navbar-toggler {
    border: none;
  }
  .header .header__navbar .header__navbar__container .header__navbar-brand {
    margin-left: 0;
  }
  .header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item {
    padding: 0;
  }
  .header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item:hover {
    padding-left: 10px;
  }
  .header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item .header__burger-list-link {
    display: inline-block;
    transition: padding-left 0.2s;
  }
  .header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item .header__burger-list-link::before {
    content: "";
    position: absolute;
    left: -10px;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s;
  }
  .header .header__navbar .header__navbar__container .header__burger__collapse .header__burger-list .header__burger-list-item .header__burger-list-link:hover::before {
    opacity: 1;
    transform: translate(-16px, -50%);
    top: 50%;
    width: 8px;
    height: 8px;
  }
}