// Why ama block style
.why__ama {
  width: 100%;
  background-color: $white;

  .ama__container {
    padding: 100px 0;
    max-width: 1170px;

    & .ama__title {
      font-family: $font-family-title;
      font-weight: 500;
      font-size: $fs-ama-title;
      padding-right: 10px;
    }

    .ama__block {
      display: flex;
      justify-content: space-between;
      margin-top: 60px;

      .ama__card-1 {
        margin: 0 0 0 42px;
        color: $grey;
        padding-bottom: 15px;

        & img {
          margin-bottom: 39px;
        }

        & h3 {
          font-size: $fs-medium-small;
          font-family: $font-family-title;
          font-weight: 400;
          margin-bottom: 6px;
          padding: 0 15px 0 0;
        }

        & p {
          font-size: $fs-base;
          font-family: $font-family-base;
          font-weight: 400;
          padding-right: 12px;
          margin-bottom: 8px;
        }
      }

      .ama__card-2 {
        margin: 1px 0 0 3px;
        color: $grey;
        padding-bottom: 15px;

        & img {
          margin-bottom: 36px;
        }

        & h3 {
          font-size: $fs-medium-small;
          font-family: $font-family-title;
          font-weight: 400;
        }

        & p {
          font-size: $fs-base;
          font-family: $font-family-base;
          font-weight: 400;
          margin-bottom: 7px;
        }
      }

      .ama__card-3 {
        margin: 1px 59px 0 0;
        color: $grey;
        padding-bottom: 15px;

        & img {
          margin-bottom: 37px;
        }

        & h3 {
          font-size: $fs-medium-small;
          font-family: $font-family-title;
          font-weight: 400;
          margin-bottom: 8px;
        }

        & p {
          font-size: $fs-base;
          font-family: $font-family-base;
          font-weight: 400;
          margin-bottom: 8px;
        }
      }
    }
  }
}

// Why ama media

@media (max-width: $extra-wide) {
  .why__ama {
    max-width: 100%;
  }
}

@media (max-width: $wide-width) {
  .why__ama {
    width: 100%;

    & .ama__container {

      & .ama__block {
        margin: 45px 30px 0 30px;

        & .ama__card-1 {
          margin: 0;
        }

        & .ama__card-2 {
          margin: 0;
        }

        & .ama__card-3 {
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .why__ama {
    width: 100%;

    & .ama__container {

      & .ama__block {
        margin: 45px 30px 0 30px;

        & .ama__card-1 {

          & img {
            margin-bottom: 20px;
          }

          & p {
            margin-bottom: 4px;
          }
        }

        & .ama__card-2 {

          & img {
            margin-bottom: 20px;
          }

          & p {
            margin-bottom: 4px;
          }
        }

        & .ama__card-3 {

          & img {
            margin-bottom: 20px;
          }

          & p {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .why__ama {
    width: 100%;

    & .ama__container {

      & .ama__block {
        margin: 40px 0 0 0;

        & .ama__card-1 {

          & img {
            margin-bottom: 20px;
          }

          & p {
            margin-bottom: 4px;
          }
        }

        & .ama__card-2 {

          & img {
            margin-bottom: 20px;
          }

          & p {
            margin-bottom: 4px;
          }
        }

        & .ama__card-3 {

          & img {
            margin-bottom: 20px;
          }

          & p {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}


@media (max-width: $small-mobile-width) {
  .why__ama {
    width: 100%;

    & .ama__container {

      & .ama__title {
        font-size: $fs-extra-small-large;
        padding-right: 0;
      }

      & .ama__block {

        & .ama__card-1 {

          & h3 {
            font-size: $fs-base;
          }

          & img {
            width: 189px;
            height: 189px;
          }

          & p {
            font-size: $fs-small;
          }
        }

        & .ama__card-2 {

          & h3 {
            font-size: $fs-base;
          }

          & img {
            width: 189px;
            height: 189px;
          }

          & p {
            font-size: $fs-small;
          }
        }

        & .ama__card-3 {

          & h3 {
            font-size: $fs-base;
          }

          & img {
            width: 189px;
            height: 189px;
          }

          & p {
            font-size: $fs-small;
          }
        }
      }
    }
  }
}

@media (max-width: $extra-small-mobile-width) {
  .why__ama {
    width: 100%;
  }
}
