// Стилі для контейнера банеру
.banner {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: $bg-color;

  .banner__slider {
    width: 100%;
    position: relative;

    .slider-item-img {
      max-width: 100%;
      height: auto;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-dots {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 5.6%;
      left: 48.2%;
    }

    .slick-dots li {
      list-style: none;
      margin: 0 3.8px;
    }

    .slick-dots button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border: 2px solid $white;
      background-color: transparent;
      border-radius: 50%;
    }

    .slick-active button {
      background-color: $white;
    }

    .slider-item {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & .slider-item-caption {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 28.5%;
        left: 28.3%;

        .slider-item-caption-title {
          font-size: $fs-extra-large;
          font-family: $font-family-title;
          font-weight: 600;
          letter-spacing: 0.034em;
          color: $white;
          margin-bottom: 8.2%;
        }

        .slider-item-caption-btn {
          display: flex;
          flex-direction: row;

          .btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 16px 0 13px;
            color: $white;
            font-family: $font-family-base;
            font-size: $fs-large;
            font-weight: 400;
            letter-spacing: 1.1px;
            width: 257px;
            height: 77px;
            border-radius: 5px;
            border: 3px solid $white;

            &-text-play {
              padding: 12px 3px 0 0;
            }

            &-text-app {
              padding: 13px 9px 0 0;
            }

            .slider-item-caption-btn-img {
              max-width: 100%;

              &-app {
                padding-left: 7px;
              }

              &-play {
                padding: 3px 0 0 14px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $extra-wide) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 47.8%;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          top: 28.5%;
          left: 21.3%;

          .slider-item-caption-title {
            font-size: $fs-medium-large;
          }
        }
      }
    }
  }
}

@media (max-width: $wide-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 47%;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          top: 28.5%;
          left: 18.3%;
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 48%;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          .slider-item-caption-title {
            font-size: $fs-small-large;
            margin-bottom: 5%;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 47%;
        bottom: 8.6%;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
            top: 19.5%;
            left: 13.3%;

          .slider-item-caption-title {
            font-size: $fs-extra-small-large;
            margin-bottom: 5%;
          }
        }
      }
    }
  }
}

@media (max-width: $small-mobile-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 47%;
        bottom: 8.6%;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          top: 19.5%;
          left: 13.3%;

          & .slider-item-caption-btn {}

          .slider-item-caption-title {
            font-size: $fs-large;
            margin-bottom: 5%;
          }
        }
      }
    }
  }
}
