// Стилі для контейнера банеру
.banner {
  max-width: 100%;
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: $bg-color;

  .banner__slider {
    width: 100%;
    padding: 0;
    position: relative;

    .slider-item-img {
      max-width: 100%;
      height: auto;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-dots {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 5.6%;
      left: 48.2%;
    }

    .slick-dots li {
      list-style: none;
      margin: 0 3.8px;
    }

    .slick-dots button {
      font-size: 0;
      width: 12px;
      height: 12px;
      border: 2px solid $white;
      background-color: transparent;
      border-radius: 50%;
    }

    .slick-active button {
      background-color: $white;
    }

    .slider-item {
      width: 100%;
      padding: 0 15px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & .slider-item-caption {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 28.5%;
        padding-right: 17px;

        .slider-item-caption-title {
          font-size: $fs-extra-large;
          font-family: $font-family-title;
          font-weight: 600;
          letter-spacing: 0.034em;
          color: $white;
          margin-bottom: 8.2%;
        }

        .slider-item-caption-btn {
          display: flex;
          flex-direction: row;

          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 16px 0 13px;
            color: $white;
            font-family: $font-family-base;
            font-size: $fs-large;
            font-weight: 400;
            letter-spacing: 1.1px;
            width: 257px;
            height: 77px;
            border-radius: 5px;
            border: 3px solid $white;

            &:hover {
              background-color: rgba(222, 90, 90, 0.6);
            }

            .slider-item-caption-btn-img {
              max-width: 100%;

              &-app {
                margin-right: 17px;
              }

              &-play {
                margin: 3px 19px 0 12px;
              }
            }
          }
        }
      }
    }
  }
}

// Banner media
@media (max-width: $extra-wide) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
      }

      .slider-item {
        & .slider-item-caption {
          .slider-item-caption-title {
            font-size: $fs-medium-large;
          }
        }
      }
    }
  }
}

@media (max-width: $wide-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 47%;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          .slider-item-caption-title {
            margin-bottom: 3rem;
          }

          .slider-item-caption-btn {
            .btn {
              justify-content: center;
              font-size: $fs-medium;
              width: 217px;
              height: 67px;

              & .slider-item-caption-btn-img-app {
                width: 42px;
                height: 42px;
              }

              & .slider-item-caption-btn-img-play {
                width: 32px;
                height: 37px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 46%;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          top: 23.5%;

          .slider-item-caption-title {
            font-size: $fs-extra-medium-large;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 43%;
        bottom: 6.6%;
      }

      .slick-dots li {
        margin: 0 3.8px;
      }

      .slick-dots button {
        width: 10px;
        height: 10px;
        border: 2px solid $white;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          top: 19.5%;

          .slider-item-caption-title {
            font-size: $fs-extra-small-large;
            margin-bottom: 1rem;
          }

          .slider-item-caption-btn {
            .btn {
              justify-content: center;
              font-size: $fs-large-small;
              width: 167px;
              height: 37px;

              & .slider-item-caption-btn-img-app {
                width: 25px;
                height: 25px;
                margin-right: 14px;
              }

              & .slider-item-caption-btn-img-play {
                width: 25px;
                height: 25px;
                margin: 0 11px 0 0;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: $small-mobile-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slick-dots {
        left: 43%;
        bottom: 0.6%;
      }

      .slick-dots li {
        margin: 0 1.8px;
      }

      .slick-dots button {
        width: 8px;
        height: 8px;
        border: 1.5px solid $white;
      }

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          top: 20.5%;

          .slider-item-caption-title {
            font-size: $fs-large;
            margin-bottom: 0;
          }

          .slider-item-caption-btn {
            .btn {
              padding: 0;
              font-size: 0;
              width: 35px;
              height: 35px;
              border: 1px solid $white;

              & .slider-item-caption-btn-img-app {
                width: 20px;
                height: 20px;
                margin-right: 0;
                margin-left: 9px;
              }

              & .slider-item-caption-btn-img-play {
                width: 15px;
                height: 17px;
                margin-right: 0;
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $extra-small-mobile-width) {
  .banner {
    max-width: 100%;

    .banner__slider {

      .slider-item {
        width: 100%;

        & .slider-item-caption {
          top: 15.5%;

          .slider-item-caption-title {
            font-size: $fs-medium;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

