// Cta style
.cta {
  width: 100%;
  background-color: $bg-color;
  padding-top: 170px;
  padding-bottom: 109px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 1200px;
    padding: 0 15px;

    & .cta__block {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      & .cta__image {
        margin: 54px 0 0 -17px;
      }

      & .cta__info {
        margin-left: 14px;
        margin-top: -110px;

        & h1 {
          color: $white;
          font-size: $fs-ama-title;
          font-family: $font-family-title;
          font-weight: 500;
          margin-bottom: 16px;
        }

        & p {
          color: $white;
          font-size: $fs-lg-extra;
          font-family: $font-family-base;
          margin-bottom: 43px;
        }

        & .cta__info-button {
          display: flex;
          flex-direction: row;

          & .cta__button-btn {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 31px 0 0;
            color: $white;
            font-family: $font-family-base;
            font-size: $fs-large;
            font-weight: 400;
            width: 257px;
            height: 77px;
            border-radius: 5px;
            border: 3px solid $white;

            &:hover {
              background-color: rgba(190, 33, 60, 0.8);
            }

            & img {
              max-width: 100%;

              &-app {
                margin-right: 16px;
              }

              &-play {
                margin: 4px 18px 0 6px;
              }
            }
          }
        }
      }
    }
  }
}

// Cta block media
@media (max-width: $extra-wide) {
  .cta {
    .cta__container {
      max-width: 992px;

      .cta__block {
        .cta__image {
          margin: 54px 0 0 0;
        }
      }
    }
  }
}

@media (max-width: $wide-width) {
  .cta {
  }
}

@media (max-width: $desktop-width) {
  .cta {
    .cta__container {
      max-width: 768px;

      .cta__block {
        .cta__image {
          margin: 0;
        }

        .cta__info {
          margin-top: 0;

          & p {
            margin-bottom: 18px;
          }

          .cta__info-button {
            flex-direction: column;

            & .cta__button-btn {
              margin: 0 0 10px 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .cta {
    .cta__container {
      max-width: 480px;

      .cta__block {
        flex-direction: column;

        .cta__info {
          margin-left: 0;

          & p {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: $small-mobile-width) {
  .cta {
    .cta__container {
      max-width: 320px;
    }
  }
}

@media (max-width: $extra-small-mobile-width) {
  .cta {
    .cta__container {
      max-width: 290px;
      .cta__block {
        .cta__info h1 {
          font-size: $fs-features-title;
        }
      }
    }
  }
}
