// Gallery block style
.gallery {
  padding-top: 70px;

  & .gallery__container {
    padding: 0;

    & .gallery__block {
      margin: 0;

      & .gallery__text {
        margin-bottom: 62px;
        margin-left: 24.5%;

        & h2 {
          font-family: $font-family-title;
          font-size: $fs-ama-title;
          font-weight: 500;
          color: $pink;
          margin-bottom: 19px;
          letter-spacing: -0.6px;
        }

        & p {
          font-family: $font-family-base;
          font-size: $fs-medium-small;
          line-height: 27px;
        }
      }

      & .gallery__images {
        width: 100%;
        padding: 0;

        &__block {
          display: flex;
          flex-wrap: wrap;
          margin: 0;

          & .gallery__images-item {
            width: calc(25%);
            position: relative;

            &.hovered {
              .gallery__images-item-img {
                transform: translateY(-38px);
              }

              .overlay {
                height: 87px;
                display: flex;
              }
            }

            &::before {
              content: "";
              display: block;
              padding-bottom: 100%;
            }

            & .gallery__images-item-img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.3s ease;

              &:hover {
                transform: translateY(-38px);
              }
            }

            .overlay {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 0;
              background-color: $black-bg;
              flex-direction: column;
              padding: 10px;
              display: none;
              transition: height 0.3s ease;

              & .text {
                display: flex;
                flex: 1;
                justify-content: space-between;
                align-items: center;

                & .text-main {
                  font-family: $font-family-base;
                  color: $light-grey;
                  font-size: $fs-medium-small;
                  margin: 0;
                }
              }

              & .like-section {
                display: flex;
                align-items: center;

                & .like__button {
                  background-color: $black-bg;

                  & .like-button-img {
                    width: 25px;
                    height: 21px;
                    background-color: $black-bg;
                    display: block;
                  }

                  & .like-button-img-painted {
                    width: 25px;
                    height: 21px;
                    background-color: $black-bg;
                    display: none;
                  }
                }

                & .like-count {
                  color: $pink;
                  font-size: $fs-lg-extra;
                  font-family: $font-family-base;
                  margin: 0;
                  padding: 0 10px;
                }
              }
            }
          }

          & .gallery__images-item:hover .overlay {
            height: 87px;
            display: flex;
          }
        }
      }
    }
  }
}
