// Share block style
.share {
  width: 100%;
  background-color: $share-bg;

  .share__container {
    max-width: 1200px;
    padding: 0 15px;

    & .share__block {

      & .share__image {
        padding-top: 72px;
        margin: 0;
      }

      & .share__info {
        margin: 0;
        padding: 15.2% 11% 0 0.5%;

        &-title {
          font-size: $fs-ama-title;
          font-family: $font-family-title;
          color: $white;
          font-weight: 500;
          letter-spacing: -0.5px;
          margin-bottom: 23px;
        }

        &-text {
          font-size: $fs-medium-small;
          font-family: $font-family-base;
          color: $share-text;
          margin-bottom: 9.3%;
          line-height: 25px;
        }

        &-slider {

          .slick-dots {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 27px 0 0 0;
            margin-left: -4px;
          }

          .slick-dots li {
            list-style: none;
            margin: 0 3.8px;
          }

          .slick-dots button {
            font-size: 0;
            width: 12px;
            height: 12px;
            border: 2px solid $white;
            background-color: transparent;
            border-radius: 50%;
          }

          .slick-active button {
            background-color: $white;
          }

          .slick-list {
            overflow: hidden;
          }

          &-item {
            display: flex;
            align-items: center;
          }

          &-item-img {
            padding-left: 1px;
          }

          &-item-text {
            font-size: $fs-base;
            font-family: $font-family-base;
            color: $share-text;
            line-height: 24px;
            padding: 3px 20px 0 32px;
          }
        }
      }
    }
  }
}

// Media share block

@media (max-width: $extra-wide) {
  .share {
    max-width: 100%;
  }
}

@media (max-width: $wide-width) {
  .share {
    width: 100%;

    & .share__container {

      & .share__block {
        & .share__info {
          padding: 15.2% 4% 0 7.5%;

          &-title {
            font-size: $fs-extra-small-large;
          }

          &-text {
            margin-bottom: 7.3%;
          }

          &-slider-item-text {
            line-height: 16px;
            padding: 3px 0 0 5px;
            font-size: $fs-small;
          }

          &-slider-item-img img {
            width: 130px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .share {
    width: 100%;

    & .share__container {

      & .share__block {

        & .share__image {
          padding-right: 0;
        }

        & .share__info {
          padding: 15.2% 7% 0 5.5%;

          &-text {
            line-height: 20px;
          }

          &-slider {
            &-item-text {
              padding: 0 0 0 10px;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $share-tablet-width) {
  .share {
    width: 100%;

    & .share__container {
      max-width: 480px;

      & .share__block {
        & .share__image {
          padding-right: 15px;
          order: 2;
          padding-top: 25px;
        }
        & .share__info {
          order: 1;

          &-title {
            font-size: $fs-title-medium-large;
          }

          &-text {
            line-height: 18px;
            font-size: $fs-base;
          }

          &-slider {
            &-item-img img {
              width: 98px;
              padding-bottom: 20px;
            }

            .slick-dots {
              padding: 15px 0 0 0;
            }

            .slick-dots button {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}


@media (max-width: $small-mobile-width) {
  .share {
    width: 100%;

    & .share__container {
      max-width: 320px;
    }
  }
}

